<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
	<div class="sidebar-section">
        <h5><span>Coding interview</span></h5>
        <a target="_blank" href="https://amzn.to/3NipB4h"><img src="{{site.baseurl}}/assets/images/book.jpg">
    </div>
	<div class="sidebar-section" style="text-align: center;">
        <h5><span>Springer</span></h5>
		<a href="https://www.tkqlhce.com/click-100641109-13570747?url=https%3A%2F%2Flink.springer.com%2Fbook%2F10.1007%2F978-3-030-30244-3%3Futm_medium%3Daffiliate%26utm_source%3Dcommission_junction%26utm_campaign%3DCONR_BOOKS_ECOM_AT_PHSS_ALWYS_PRODUCT%26utm_content%3Dproductdatafeed%26utm_term%3DPID%25zp&cjsku=9783030302436" target="_blank"><img src="https://covers.springernature.com/books/jpg_width_153_pixels/9783030302436.jpg" border="0" alt="Progress in Artificial Intelligence"/></a><img src="https://www.ftjcfx.com/image-100641109-13570747" width="1" height="1" border="0"/>
	</div>
	<div class="sidebar-section">
        <h5><span>Prime Video</span></h5>
		<a target="_blank" href="https://amzn.to/3MNfnrJ"><img src="{{site.baseurl}}/assets/images/primeVideo.jpg">
	</div>
	 <div class="sidebar-section">
        <h5><span>I want this!</span></h5>
        <a target="_blank" href="https://codercuy.creator-spring.com/"><img src="{{site.baseurl}}/assets/images/tshirt.jpg">
    </div>
	<div class="sidebar-section">
		<h5><span>Apple AirPods Pro</span></h5>
		<a target="_blank"  href="https://www.amazon.de/gp/offer-listing/B09JQZ5DYM/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=B09JQZ5DYM&linkCode=am2&tag=mkgv89-21&linkId=11b7c9dde2abfebe042606ac636ddd9d"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=DE&ASIN=B09JQZ5DYM&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=mkgv89-21" ></a>
	</div>
</div>